.leftSideBar {
  height: calc(100vh - 68px);
  overflow-y: scroll;
  position: sticky;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.leftSidebarUser {
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.leftSidebarUser:hover {
  background-color: #e0e0e0;
}

.leftSidebarOptions {
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.leftSidebarOptions:hover {
  background-color: #e0e0e0;
}

.leftSidebarUser span {
  font-size: 18px;
  margin-left: 15px;
}

.leftSidebarOptions span {
  font-size: 18px;
  margin-left: 15px;
}

.leftSideBarIcons {
  font-size: 32px;
}

.sidebarUserImage {
  width: 40px;
  border-radius: 50%;
}
